body{
    background-color: rgb(34, 34, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 0;
    margin: 0;
    padding: 0;
}


.containner{
    background-color: aliceblue;
    color: #4b4948f8;
    float: right;
    width: 800px;
    height: 645px;
}

div #border{
    border-color: grey;
    border-radius: 5px;
    margin: 80px;
    border: 100px;
    width: 50%;
    height: 40%;
    border: 200px;
    text-align: left;
}

.centralizar {
    margin-left: 1rem;
    width: 350px;
    height: 30px;
}

.paragrafo{
    flex-direction: row-reverse;
    display: flex;
    margin-right: 10px;

}

.button{
    border-radius: 5px;
    background-color: rgb(92, 190, 108);
    color: aliceblue;
    margin: 10px;
    margin-left: 1rem;
    cursor: pointer;
    text-align: center;
    width: 360px;
    height: 30px;
}